@model projekt.Models.Book

<h2>Book Details</h2>

<div class="mb-3">
    @if (User.IsInRole("Admin"))
    {
        <a asp-action="Create" class="btn btn-primary">Create New</a>
    }
</div>

<div>
    <h4>@Model.Title</h4>
    <dl class="row">
        <dt class="col-sm-2">Author</dt>
        <dd class="col-sm-10">@Model.Author</dd>

        <dt class="col-sm-2">ISBN</dt>
        <dd class="col-sm-10">@Model.ISBN</dd>

        <dt class="col-sm-2">Published Date</dt>
        <dd class="col-sm-10">@Model.PublishedDate.ToShortDateString()</dd>

        <dt class="col-sm-2">Short Description</dt>
        <dd class="col-sm-10">@Model.ShortDescription</dd>

        <dt class="col-sm-2">Status</dt>
        <dd class="col-sm-10">@Model.Status</dd>

        </dd>
        @if (Model.Status == "Borrowed")
        {
            <dt class="col-sm-2">
                Borrowed Date
            </dt>
            <dd class="col-sm-10">
                @Model.BorrowDate?.ToString("yyyy-MM-dd")
            </dd>
        }

        <dt class="col-sm-2">Category</dt>
        <dd class="col-sm-10">@Model.Category?.Name</dd>
    </dl>
</div>

<div>
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
    @if (User.IsInRole("Reader") || User.IsInRole("Admin"))
    {
        @if (Model.Status != "Borrowed")
        {
            <form asp-action="BorrowBook" asp-route-bookId="@Model.BookId" method="post" style="display:inline;">
                <button type="submit" class="btn btn-success">Borrow</button>
            </form>
        }
    }
    @if (User.IsInRole("Admin"))
    {
        <a asp-action="Edit" asp-route-id="@Model.BookId" class="btn btn-warning">Edit</a>
        <form asp-action="Delete" asp-route-id="@Model.BookId" method="post" style="display:inline;">
            <button type="submit" class="btn btn-danger">Delete</button>
        </form>
    }
</div>
